.cta {
    max-width: 144rem;
    margin: 15rem auto;
    position: relative;
}

.cta__image{
    width: 60%;
}

.cta__description{
    width: 50%;
    background-color: var(--white);
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10rem 0 0 10rem;
}

.cta__title{
    font-size: 7rem;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 2rem;

}

.cta__text{
    font-size: 2rem;
    line-height: 2;
}
